In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('zomato.csv', encoding='latin-1')

In [3]:
data.head(3)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
Restaurant ID           9551 non-null int64
Restaurant Name         9551 non-null object
Country Code            9551 non-null int64
City                    9551 non-null object
Address                 9551 non-null object
Locality                9551 non-null object
Locality Verbose        9551 non-null object
Longitude               9551 non-null float64
Latitude                9551 non-null float64
Cuisines                9542 non-null object
Average Cost for two    9551 non-null int64
Currency                9551 non-null object
Has Table booking       9551 non-null object
Has Online delivery     9551 non-null object
Is delivering now       9551 non-null object
Switch to order menu    9551 non-null object
Price range             9551 non-null int64
Aggregate rating        9551 non-null float64
Rating color            9551 non-null object
Rating text             9551 non-null object
Votes                   9551 non-null int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [5]:
data.dropna(inplace=True)

In [6]:
data['Restaurant Name'].value_counts()

Cafe Coffee Day                 83
Domino's Pizza                  79
Subway                          63
Green Chick Chop                51
McDonald's                      48
Keventers                       34
Pizza Hut                       30
Giani                           29
Baskin Robbins                  28
Barbeque Nation                 26
Barista                         22
Giani's                         22
Dunkin' Donuts                  22
Costa Coffee                    20
Pind Balluchi                   20
Pizza Hut Delivery              19
Sagar Ratna                     19
Wah Ji Wah                      19
Twenty Four Seven               19
Chaayos                         18
KFC                             18
Starbucks                       18
Republic of Chicken             18
Burger King                     16
Haldiram's                      16
Shree Rathnam                   15
Bikanervala                     14
Frontier                        14
Aggarwal Sweets                 14
Moti Mahal Delux                14
                                ..
Starvin' Marvin                  1
Ahmed's                          1
Cake Castle                      1
Dove And Mouse                   1
Indian Saffron Co.               1
Temptation Food                  1
Mi Patria                        1
Madhuban                         1
Al- Laziz                        1
Union Deli                       1
B Merrell's                      1
Caffe L'affare                   1
Nik Bakers                       1
The Daily                        1
Hotel 121 Shakahari              1
Al-Malik                         1
The Singing Tree                 1
Anmol Chicken                    1
The Kitchen Factory              1
Jungli Moon Dance Restaurant     1
Phantom                          1
Jagram Dhaba                     1
Duggal Snacks                    1
Bengal Sweet Palace              1
Masala Grill & Coffee House      1
Food Corner                      1
Sofra Istanbul                   1
Dhaba - The Claridges            1
Pan Asian Noodles                1
Augsburg Haus                    1
Name: Restaurant Name, Length: 7437, dtype: int64

In [7]:
data['Switch to order menu'].value_counts()

No    9542
Name: Switch to order menu, dtype: int64

In [8]:
data.drop(columns=['Restaurant ID','Is delivering now','Switch to order menu'],inplace=True)

In [9]:
data.columns

Index(['Restaurant Name', 'Country Code', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes'],
      dtype='object')

In [10]:
data['Country Code'].nunique()

15

In [11]:
data=data[data['Country Code']==1]
data.shape

(8652, 18)

In [12]:
data.drop(columns=['Restaurant Name','Country Code','Currency'],inplace=True)

In [13]:
data.columns

Index(['City', 'Address', 'Locality', 'Locality Verbose', 'Longitude',
       'Latitude', 'Cuisines', 'Average Cost for two', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes'],
      dtype='object')

In [14]:
data['City'].nunique()

43

In [15]:
data=data[data['City'].isin(['New Delhi','Gurgaon','Noida','Faridabad'])]
data.shape

(7922, 15)

In [16]:
avg_price=data.groupby('Cuisines').mean()['Average Cost for two'].reset_index()

In [17]:
data=data.merge(avg_price, on='Cuisines')

In [18]:
data.head(2)
data.rename(columns={'Average Cost for two_y':'Cuisine','Average Cost for two_x':'target'},inplace=True)

In [19]:
data.drop(columns=['Address','Locality','Locality Verbose','Cuisines'],inplace=True)

In [20]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'target', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes', 'Cuisine'],
      dtype='object')

In [21]:
data['Has Table booking'].value_counts()

No     6876
Yes    1046
Name: Has Table booking, dtype: int64

In [22]:
data['Has Table booking'].replace("No",0,inplace=True)
data['Has Table booking'].replace("Yes",1,inplace=True)

In [24]:
data['Has Online delivery'].value_counts()

No     5609
Yes    2313
Name: Has Online delivery, dtype: int64

In [25]:
data['Has Online delivery'].replace("No",0,inplace=True)
data['Has Online delivery'].replace("Yes",1,inplace=True)

In [26]:
data['Has Online delivery'].value_counts()

0    5609
1    2313
Name: Has Online delivery, dtype: int64

In [27]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'target', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes', 'Cuisine'],
      dtype='object')

In [28]:
data['Price range'].value_counts()

1    4221
2    2583
3     814
4     304
Name: Price range, dtype: int64

In [30]:
data['Rating text'].value_counts()

Average      3571
Not rated    2137
Good         1580
Very Good     413
Poor          178
Excellent      43
Name: Rating text, dtype: int64

In [32]:
data.corr()['target']

Longitude              0.071752
Latitude               0.070993
target                 1.000000
Has Table booking      0.642966
Has Online delivery    0.076953
Price range            0.847985
Aggregate rating       0.328440
Votes                  0.299089
Cuisine                0.808274
Name: target, dtype: float64

In [71]:
data['Rating text'].value_counts()

Average      3571
Not rated    2137
Good         1580
Very Good     413
Poor          178
Excellent      43
Name: Rating text, dtype: int64

In [33]:
data.drop(columns=['Rating color','Has Online delivery'],inplace=True)

In [34]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'target', 'Has Table booking',
       'Price range', 'Aggregate rating', 'Rating text', 'Votes', 'Cuisine'],
      dtype='object')

In [35]:
data.head()

,City,Longitude,Latitude,target,Has Table booking,Price range,Aggregate rating,Rating text,Votes,Cuisine
0,Faridabad,77.306640,28.490059,250,0,1,2.9,Average,4,375.000000
1,New Delhi,77.049525,28.806199,500,0,2,0.0,Not rated,0,375.000000
2,Faridabad,77.304776,28.490157,500,0,2,2.8,Average,16,594.303797
3,Faridabad,0.000000,0.000000,300,0,1,0.0,Not rated,0,594.303797
4,Faridabad,77.305698,28.471985,1200,1,3,0.0,Not rated,0,594.303797

In [36]:
y=data['target'].values
y

array([ 250,  500,  500, ...,  450, 1000,  450], dtype=int64)

In [37]:
input1=data.drop(columns=['target'])

In [65]:
X=input1.iloc[:,:].values

In [52]:
X.shape

(7922, 9)

In [53]:
y.shape

(7922,)

In [66]:
# Label Encoding
X[:,0]=encoder.fit_transform(X[:,0])
X[:,-3]=encoder.fit_transform(X[:,-3])

In [67]:
from sklearn.preprocessing import OneHotEncoder
oencoder=OneHotEncoder(categorical_features=[0])

In [68]:
# One hot encoding
X=oencoder.fit_transform(X).toarray()
X.shape

C:\Users\Nitish\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

(7922, 12)

In [69]:
X=X[:,1:]
X.shape

(7922, 11)

In [72]:
oencoder1=OneHotEncoder(categorical_features=[-3])
X=oencoder1.fit_transform(X).toarray()
X.shape

C:\Users\Nitish\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

(7922, 16)

In [74]:
X=np.delete(X,-3,1)
X.shape

(7922, 15)

In [77]:
X[0]

array([  1.       ,   0.       ,   0.       ,   0.       ,   0.       ,
         0.       ,   0.       ,   0.       ,   0.       ,  77.3066401,
        28.4900591,   0.       ,   1.       ,   4.       , 375.       ])

In [75]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2)

In [76]:
X_train.shape

(6337, 15)

In [79]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [80]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [81]:
y_pred=regressor.predict(X_test)

In [85]:
from sklearn.metrics import r2_score

In [86]:
r2_score(y_test,y_pred)

0.7942320825672183